*{margin: 0px; padding: 0px; box-sizing: border-box;}

:root{
  --primary-color: #F97316;
  --primary-rgb: 249, 115, 22;
  --secondary-color: #f9a825;
  --secondary-rgb: 249, 168, 37;
  --dark-color: #262626;
}

html, body{
  /* width: 100vw; */
  height: 100vh;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Ubuntu;
  overflow: auto;
  background-color: #eee;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
*[debug] .container{
  outline: 1px solid #f005;
}
.container.hover:hover{
  background-color: #fff6;
}

.gap-half{
  gap: 0.25rem;
}
.gap{
  gap: 0.5rem;
}
.gap-1{
  gap: 0.75rem;
}
.gap-2{
  gap: 1rem;
}
.gap-3{
  gap: 2rem;
}
.container.no-padding{
  padding: 0px;
}
.margin{
  margin: 0.5rem;
}
.container.half-padding{
  padding: 0.5rem;
}
.container.full-padding{
  padding: 0.5rem;
}
.container.pad-wide{
  padding-left: 1rem;
  padding-right: 1rem;
}

.container.main{
  align-items: center;
  /* width: 100%; */
  /* max-width: 1080px; */
  height: auto;
  /* box-shadow: 0px 0px 1rem #0002; */
  border: 1px solid #ccc;
  overflow: auto;
}
.container.body{
  overflow: auto;
}
.container.overflow-hide{
  overflow: hidden;
}
.container.overflow-auto{
  overflow: auto;
}

.relative{
  position: relative;
}
.container.row{
  flex-direction: row;
}
.container.wrap{
  flex-wrap: wrap;
}
.container.center{
  align-items: center;
  justify-content: center;
}
.container.items-center{
  justify-items: center;
}
.container.justify-center{
  justify-content: center;
}
.container.start{
  justify-content: flex-start;
}
.container.end{
  justify-content: flex-end;
}
.container.between{
  justify-content: space-between;
}
.container.evenly{
  justify-content: space-evenly;
}
.container.around{
  justify-content: space-around;
}
.container.circle{
  border-radius: 50%;
}
.container.rounded{
  border-radius: 10px;
}

.container.w-1{
  width: 12%;
}
.container.w-2{
  width: 24%;
}
.container.w-fill{
  width: 100%;
}
.container.h-fill{
  height: 100%;
}
.container.stretch-content{
  justify-content: stretch;
}
.container.even{
  justify-content: space-evenly;
}

form.container{
  flex-shrink: 0;
  background-color: #eee;
}

ul.row{
  list-style: none;
}
ul.container li a{
  border-radius: 0px;
}
ul.container li:hover{
  background-color: #ddd;
}
ul.container li.active{
  background-color: #ddd;
}

nav a{
  text-decoration: none;
  color: #ccc;
  font-size: smaller;
}

.container.input{
  position: relative;
  flex-direction: column-reverse;
  margin: 0.5rem;
  padding: 0px;
  width: 360px;
  background-color: inherit;
  z-index: 1;
}
.container.input-inline{
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  padding: 0px;
  width: calc(100% - 1rem);
}

.primary{
  color: var(--primary-color);
}
.secondary{
  color: var(--secondary-color);
}
.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.border-primary{
  border-color: var(--primary-color);
}
.border-secondary{
  border-color: var(--secondary-color);
}

.caps{
  text-transform: uppercase;
}

input, textarea{
  padding: 0.75rem 0.75rem;
  width: 100%;
  border: 1px solid #888;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
}
button, .button{
  padding: 0.75rem 1rem;
  width: auto;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: #eee;
  cursor: pointer;
  white-space: nowrap;
}
button.container, .button.container{
  border-radius: 0px;
  background-color: transparent;
  color: var(--primary-color);
}
button:hover, .button:hover{
  background-color: rgba(var(--secondary-rgb), 0.2);
  color: var(--primary-color);
}
button:active, .button:active{
  background-color: rgba(var(--secondary-rgb), 0.3);
}
button.container.active{
  background-color: var(--primary-color);
  color: #eee;
}
button:disabled, .button:disabled{
  background-color: rgba(var(--secondary-rgb), 0.4);
  color: #444;
}
a.button{
  font-size: smaller;
  text-decoration: none;
}
button.low, .button.low{
  padding: 0.5rem 1rem;
}
button.pad-1{
  padding: 0.5rem 0.75rem;
  min-height: unset;
}
button.medium{
  min-height: unset;
  font-size: 16px;
}

textarea{
  min-height: 3rem;
  resize: vertical;
}
.title, .sub-title, label{
  /* width: 320px; */
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
}
.title{
  padding: 0.5rem 0.5rem 1.5rem;
}
.sub-title{
  font-size: 0.8rem;
  color: #888;
  text-align: left;
}
.title.pad, .sub-title.pad{
  padding: 0.5rem
}
.sub-title.w-fill{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input :is(input, textarea):disabled{
  border-color: transparent;
}
.input :is(input, textarea)::placeholder{
  color: transparent;
}
/* .input input:not(:placeholder-shown), textarea:not(:placeholder-shown){
  background-color: #fff;
} */
.input label{
  position: absolute;
  margin-bottom: 0.1rem;
  padding: 0rem 0.5rem 0.25rem;
  width: auto;
  font-size: smaller;
  font-weight: 400;
  color: #999;
  transition: 75ms ease-out top, left;
  background-color: inherit;
  z-index: -1;
}
.input label:not(.fixed){
  top: 0.75rem;
  left: 0.5rem;
}
.input :is(input, textarea):focus+label,
.input :is(input, textarea):not(:placeholder-shown)+label{
  top: -0.45rem;
  left: 0.3rem;
  font-size: 12px;
  color: #888;
  z-index: 1;
}
.input input[type=hidden]+label{
  display: none;
}
.input :is(input, textarea):is(:required, :invalid)+label::after{
  color: #f66;
}
.input :is(input, textarea):required+label::after{
  content: " *";
}
.input :is(input, textarea):not(:placeholder-shown):invalid+label::after{
  content: " :(";
}
.input :is(input, textarea):not(:placeholder-shown):not(:invalid)+label::after{
  content: " :)";
  color: #5b5;
}
.input:focus-within :is(input, textarea){
  border-color: rgba(var(--primary-rgb), 1);
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
}
.button.icon{
  padding: 0px;
  min-height: auto;
  background-color: transparent;
  color: #222;
}
.button.icon.bg-primary{
  background-color: var(--primary-color);
  color: #eee;
}
.button.icon:hover{
  color: #444;
}
.button.icon.auto{
  width: auto;
  height: auto;
}
.button.icon.w-auto{
  width: auto;
}
.button.icon.pad{
  padding: 0.25rem 0.75rem;
}
.button.icon.pad-2{
  padding: 0.5rem 0.75rem;
}

.button.icon .spinner,
.icon svg{
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
}
.button.icon:active svg{
  scale: 0.9;
}

.icon.large svg{
  width: 2rem;
  height: 2rem;
}
.icon.small svg{
  width: 1rem;
  height: 1rem;
}
.icon.smaller svg{
  width: 1.25rem;
  height: 1.25rem;
}
.icon.medium svg{
  width: 1.5rem;
  height: 1.5rem;
}

.input-inline .icon{
  position: absolute;
  margin: 0.25rem 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  color: #666;
}
.input-inline input{
  padding-left: 2.25rem;
  z-index: 1;
  font-size: smaller;
  outline: none;
}
.input-inline:focus-within .icon{
  color: #aaa;
}
.input-inline:focus-within{
  outline: 1px solid rgba(var(--primary-rgb), 1);
}

.container.error{
  font-size: small;
  color: #f44;
}
.container.info{
  font-size: small;
  color: #44f;
}

.bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fixed{
  position: fixed;
}

.box{
  flex-shrink: 0;
  width: 320px;
  /* height: 240px; */
  background-color: #ddd;
}

.box.h-2{
  height: auto;
}

.box.size-0-1{
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  color: #fffa;
}
.box.size-1{
  width: 48px;
  height: 48px;
}
.box.size-2{
  width: 56px;
  height: 56px;
}
.box.size-3{
  width: 64px;
  height: 64px;
}
.box.size-3{
  width: 96px;
  height: 96px;
}
.box{
  color: #0003;
  font-size: 1.5rem;
}

.card{
  border-radius: 0.5rem;
}
.card,
form.card{
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}
.card:hover{
  background-color: #fdfdfd;
}

.card .image{
  padding: 30% 0px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card .title{
  padding: 0px;
  font-size: large;
}
.card .desc{
  font-size: medium;
  color: #666;
}
.card .title,
.card .desc{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .actions.bottom{
  display: flex;
  justify-content: space-between;
  margin: -1rem;
  margin-top: 1rem;
  width: calc(100% + 2rem);
}
.card .actions.bottom button{
  padding: 0.5rem;
  font-size: 1em;
  background-color: #eee;
  color: #444;
  box-sizing: content-box;
  border-radius: 0px;
  cursor: default;
}
.card .actions.bottom button.wider{
  padding: 0.5rem 0.75rem;
}
.card .actions.bottom button.safe{
  color: var(--secondary-color);
}
.card .actions.bottom button.danger{
  color: #c82424;
}
.card .actions.bottom button:disabled{
  color: #666;
}
.card .actions.bottom button:not(:disabled):hover{
  color: #ddd;
  background-color: #444;
  cursor: pointer;
}
.card .actions .group{
  display: flex;
  overflow: hidden;
}
.card .actions .group:first-of-type{
  border-radius: 0px 8px;
}
.card .actions .group:last-of-type{
  border-radius: 8px 0px;
}

.popups{
  background-color: #fff8;
  z-index: 1;
}
.popups.hidden{
  display: none;
}
.popup{
  position: relative;
  width: 420px;
  min-height: 200px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.15rem 0.15rem 1rem #2222;
}

.popup .button.icon.close{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f44;
  font-size: 24px;
}

.spinner{
  width: 2rem;
  height: 2rem;
  border: 2px solid #444;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spinner 1s ease 0s infinite forwards;
}
.small .spinner,
.spinner.small{
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes spinner {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

details.container[open] summary{
  background-color: #ddd;
}

.drop-down{
  position: absolute;
  top: calc(100% + 0.75rem);
  right: 1rem;
  padding: 0px;
  max-width: calc(100% - 2rem);
  border: 1px solid #ddd;
  background-color: #eee;
  list-style: none;
  box-shadow: 0px 0px 0.5rem #0002;
  z-index: 3;
}

.drop-down li{
  width: 100%;
}

.drop-down li .button{
  justify-content: flex-start;
  padding: 1.25rem 2.5rem 1.25rem 0.75rem;
  width: 100%;
}

#leftPane{
  width: 24rem;
  flex-shrink: 0;
  box-shadow: 0px 0px 0.5rem #0004;
  z-index: 2;
  overflow: hidden;
}
.header{
  box-shadow: 0px 0px 0.5rem #0004;
  z-index: inherit;
}

.over-top{
  z-index: 3;
  background-color: #eee;
}

.capsule, .capsule.button.icon{
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
  color: #eee;
}
.capsule button.icon{
  border-radius: 50%;
  background-color: rgba(var(--primary-rgb), 0.8);
  color: #eee;
}
.capsule.button.icon{
  padding: 1rem;
  width: auto;
}
.capsule.button.icon:hover,
.capsule button.icon:hover{
  background-color: var(--primary-color);
  color: #eee;
}

.suggestions{
  position: absolute;
  top: 0px;
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  border-top-width: 0px;
  background-color: #eee;
}
.suggestions:empty{
  border-color: transparent;
}
.suggestions .suggestion{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}
.suggestions .suggestion:hover{
  background-color: #f8f8f8;
}

.chat-item .sub-title{
  white-space: nowrap;
}
.chat-item.active{
  background-color: #fafafa;
}
.chat-item.unread .sub-title{
  font-weight: bold;
}
.chat-item:not(.unread) .badge{
  display: none;
}